.add_category_btn {
    color: #FFF;
    background-color: #8fb339;
    border: 0;
    width: 100px;
    height: 100px;
    font-size: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_category_div {
    display: flex;
    justify-content: end;
}

Table {
    font-size: 16px;
}

thead {
    border-bottom: 0;
}

.btn_action {
    margin: 0 15px;
}

img {
    width: 50px;
}