.card {
    width: 22rem;
    padding: 0;
}

.card_title {
    font-size: 38px;
    font-weight: bold;
}

.card_icon {
    font-size: 140px;
    margin-top: -70px;
}

.card_footer{
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}